{{>header}}
    <div class="jumbotron">
  <h1 class="display-4"></h1>
  <p class="lead"> {{{crearInscrito documento nombre correo telefono curso}}}</p>
  <hr class="my-4">
  <p id="cc"></p>
   <div class="container">
   <div class="h1 text-center">Listado de Inscritos</div>
    {{{listadoinscritos}}}
  </div>

</div>

 {{>footer}}