{{>header}}
    <div class="jumbotron">
  <h1 class="display-4">promedio {{estudiante}}</h1>
  <p class="lead">el promedio de {{estudiandte}} es {{obtenerPromedio nota1 nota2 nota3}}</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

 {{>footer}}