{{>header}}
  

  <div class="container">
   <div class="h1 text-center">Listado de Inscritos</div>

   {{{eliminar documento}}}
	
   <hr class="hr">

   
    {{{listadoinscritos}}}
 
  </div>


 {{>footer}}